<% if(msg!="Logged in"){ %>
<div><%= msg %></div>
<!--
like is a variable that lets distinguish wheter
this partial is used on user page or like modal 
-->
<% }if(!currentUser){ %>
<button disabled>Add to friends (login required)</button>
<% }else if(like ? !like.isPersonal && !like.sentReq && !like.isFriend : !isPersonal && !isFriend &&
!sentRequest){ %>
<form action="/profile/<%= like ? like.username :user.username%>/add" method="POST">
    <button>Add to friends</button>
</form>
<% }else if(like ? !like.isPersonal && like.isFriend : !isPersonal && isFriend){ %>
<form action="/profile/<%= like ? like.username :user.username%>/removeFriend" method="POST">
    <button>Remove from friends</button>
</form>
<% }else if(like ? !like.isPersonal && like.sentReq : !isPersonal && sentRequest){ %>
<form action="/profile/<%= like ? like.username :user.username%>/unsendReq" method="POST">
    <button type="submit">Unsend friend request</button>
</form>
<% } %>
