<nav class="navbar navLight">
    <a href="/">Home</a>
    <a href="/users">All Users</a>
    <a href="/posts">Posts</a>
    <% if(currentUser){ %>
    <a href="/posts/new">New Post</a>
    <a href="/logout">Log out</a>
    <a href="/profile/<%=currentUser.username %>">Profile</a>
    <% }else{ %>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    <% } %>
    <button id="lightmodeToggle">Light mode</button>
</nav>
