<div class="login">
    <form action="/login" method="POST">
        <span style="color: red">
            <% if(error){ %> <%= error %> <% } %> <% if(msg){ %> <%= msg %> <% } %>
        </span>
        <div class="login-row loginPage">
            <label for="username">Username: </label>
            <input type="text" name="username" required />
        </div>
        <div class="login-row">
            <label for="password">Password: </label>
            <input type="password" name="password" required />
        </div>
        <div class="login-row">
            <button type="Submit">Log in</button>
        </div>
    </form>
</div>
