<form action="/login" method="POST">
    <% if(error){ %> <%= error %> <% } %> <% if(msg){ %> <%= msg %> <% } %>
    <div>
        <label for="username">Username: </label>

        <input type="text" name="username" required />
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" required />
    </div>
    <button type="Submit">Log in</button>
</form>
