<div class="login formTop">
    <form action="/login" method="POST">
        <!-- prettier-ignore -->
        <% if(error){ %> <span style="color: red"><%= error %> </span><% } %> <% if(msg){ %>
        <span style="color: green"><%= msg %> </span><% } %>

        <div class="login-row loginPage">
            <label for="username">Username: </label>
            <input type="text" name="username" required />
        </div>
        <div class="login-row">
            <label for="password">Password: </label>
            <input type="password" name="password" required />
        </div>
        <div class="login-row">
            <button type="Submit">Log in</button>
        </div>
    </form>
</div>
