.bg-img {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition: 0.4s linear; */
    /* -webkit-transition: 0.2s ease-in-out; */
}
.no-transition {
    transition: none !important;
}
.light {
    background-image: url("../light.jpg");
    color: black;
    background-color: #e4b160;
}
.dark {
    background-image: url("../black.jpg");
    color: white;
    background-color: black;
}
.transition {
    transition: 0.4s linear;
}

.darkPost {
    background-color: white;
    color: black;
}
.darkPost a {
    color: black;
}
.lightPost {
    background-color: black;
}
.navDark a {
    color: white;
}
.navLight a {
    color: #e4b160;
}
.blackText {
    color: black;
}
.whiteText {
    color: white;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    backdrop-filter: blur(5px);
    z-index: 2;
}
.navbar a {
    text-decoration: none;
}
