* {
    font-family: "Roboto", sans-serif;
}
@font-face {
    font-family: "Gotham Rounded";
    src: url("../GothamRounded-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* each user in /allusers route */
.allUsersContainer > div {
    /* background-color: white; */
    background-color: rgba(228, 177, 96, 0.6);
    color: black;
    backdrop-filter: blur(1px);
    border-radius: 1rem;
    padding: 0.8rem;
}
.allUsersContainer {
    margin-top: 50px;
}
.username {
    font-size: 0.7rem;
}
/*  */
/* like modal 'add to friends button' */
.modalBodyLeft {
    display: flex;
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
}
.imgContainer {
    display: flex;
    flex-direction: column;
}
.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.inLike {
    width: 70%;
}
.likeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.addFriendButtonContainer {
    display: flex;
    align-items: center;
}
.modalBody {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* top: 20%; */
    padding: 0.5rem;
}
.modalBody button {
    width: 100px;
}
.modalBodyLeft img {
    height: 50px;
    width: max-content;
}
.likeModalContent {
    background-color: #f4f4f4;
    margin: 100px auto;
    text-align: center;
    width: 400px;
    overflow: hidden;
    padding: 0.2rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.close {
    float: right;
    color: grey;
}
.close:hover,
.close:focus {
    cursor: pointer;
    color: black;
}
/*  */
/* login/signup routes */
.login {
    display: flex;
    position: absolute;
    top: 40%;
    right: 50%;
    /* backdrop-filter: blur(3px); */
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    transform: translate(50%, -50%);
}
.greyBg {
    background-color: #484848;
}
.whiteBg {
    background-color: white;
}
.login-row {
    display: flex;
    justify-content: space-between;
}

.buttonForm {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
.loginPage {
    gap: 1rem;
}

/*  */
/* post related css */
.img-container {
    display: flex;
    flex-direction: column;
}
.comment {
    display: none;
}
.commentObj {
    display: flex;
    word-wrap: break-word;
    word-break: break-word;
}
.comments-visible {
    display: initial;
}
.date {
    font-size: 0.8rem;
}
.img-container a {
    font-size: 0.7rem;
}
.posts-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
}

.post {
    padding: 0.4rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}
.post-user {
    display: flex;
    gap: 0.2rem;
}
.post-user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-user img {
    width: auto;
    height: 2.5rem;
    border-radius: 50%;
}
.post-bottom {
    display: flex;
}
.post-bottom button {
    height: 1.2rem;
}
.post-body {
    padding-bottom: 1rem;
}
.comment-send {
    margin-top: 5px;
    display: flex;
}
.smallImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
/* new post route */
.newPost {
    /* margin-top: 50px; */
    overflow-y: hidden;
    border-radius: 1rem;
    /* width: 250px; */
}

/* when you click new post textarea */
.newpostModal {
    background-color: white;
    height: 20%;
    padding: 1rem;
    border-radius: 1rem;
}
.newpostContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.expanded {
    display: none;
}
.bigPost {
    top: 30%;
    display: block;
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
}

.visible {
    display: block;
}

.typeArea {
    padding: 0.8rem;
}

.newpostinside {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.initial {
    height: 50px;
}
.initial img {
    height: 3rem;
    width: 3rem;
}
.initial textarea {
    height: 3rem;
}
