* {
    font-family: "Roboto", sans-serif;
}
.navbar a {
    color: black;
}

.comment {
    display: none;
}
.commentObj {
    display: flex;
}
.likeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.addFriendButtonContainer {
    display: flex;
    align-items: center;
}

.modalBody {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0.5rem;
}
.inLike {
    width: 70%;
}

.modalBodyLeft {
    display: flex;
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
}
.imgContainer {
    display: flex;
    flex-direction: column;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalBodyLeft img {
    height: 50px;
    width: max-content;
}
.username {
    font-size: 0.7rem;
}

/* like modal 'add to friends button' */
.modalBody button {
    width: 100px;
}

.likeModalContent {
    background-color: #f4f4f4;
    margin: 20% auto;
    text-align: center;
    width: 40%;
    overflow: hidden;
    padding: 0.2rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.close {
    float: right;
    color: grey;
}
.close:hover,
.close:focus {
    cursor: pointer;
    color: black;
}

.comments-visible {
    display: initial;
}
.date {
    font-size: 0.5rem;
}
.img-container {
    display: flex;
    flex-direction: column;
}
.img-container a {
    font-size: 0.6rem;
}

.posts-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
}
.post {
    padding: 0.4rem;
    background-color: white;
    border-radius: 10px;
}

.post-user {
    display: flex;
    gap: 0.2rem;
}
.post-user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-user img {
    width: auto;
    height: 2.5rem;
    border-radius: 50%;
}
.post-bottom {
    display: flex;
}
.post-bottom button {
    height: 1.2rem;
}

.post-body {
    padding-bottom: 1rem;
}

.comment-send {
    margin-top: 5px;
    display: flex;
}
.comment-send img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
